#blue {
    background-color: #4267B2;
    height: 230px;
    width: 200px;
    margin: auto;
    border: solid #4267B2;
}

#white {
    margin: auto;
    height: 150px;
    width: 150px;
    background-color: white;
    border: white solid;
    border-radius: 0 0 2px 2px;
}

#gray {
    width: 150px;
    height: 40px;
    background-color: rgb(214, 214, 214);
    margin: auto;
    border: rgb(214, 214, 214) solid;
    margin-top: 15px;
    border-radius: 2px 2px 0 0;
}

#form {
    text-align: center;
    margin-top: 10px;
    color: #A9A9A9;
    font-family: Arial;
}

#signin {
    background-color: #4267B2;
    height: 20px;
    width: 100px;
    margin: auto;
    margin-top: 6px;
    margin-right: 40px;
    border-radius: 0 3px 3px 0;
    border: #4267B2;
}

#or {
    text-align: center;
    margin: auto;
    margin-bottom: 6px;
    margin-right: 15px;
    color: rgb(168, 168, 168);
    font-size: 13px;
}

#tsign {
    font-size: 8px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    height: 20px;
    color: white;
    font-family: Arial;
}

.userpass {
    background-color: rgb(214, 214, 214);
    height: 20px;
    width: 100px;
    margin: auto;
    margin-top: 8px;
    margin-right: 40px;
    border-radius: 0 3px 3px 0;
    border: rgb(214, 214, 214);
}

.tuserpass {
    font-size: 8px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    height: 20px;
    color: rgb(119, 119, 119);
    font-family: Arial
}

#login {
    background-color: rgb(59, 59, 59);
    height: 20px;
    width: 120px;
    margin: auto;
    margin-top: 15px;
    margin-right: 11px;
    border-radius: 3px 3px 3px 3px;
}

#tlogin {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 20px;
    color: white;
}

ul{list-style-type:none;}





