#red1 {
    background-color: red;
    border: red solid;
    height: 200px;
    width: 1000px;
}

#blue1 {
    background-color: blue;
    border: blue solid;
    height: 200px;
    width: 1000px;
}

#orange {
    background-color: orange;
    border: orange solid;
    height: 200px;
    width: 1000px;
}

#red2 {
    position: relative;
    background-color: red;
    height: 300px;
    width: 600px;
    border-radius: 300px 300px 0 0;
    margin: auto;
    position: relative;
}

#blue2 {
    position: relative;
    background-color: blue;
    height: 300px;
    width: 600px;
    border-radius: 0 0 300px 300px;
    margin: auto;
    position: relative;
}
#red3{position: relative;
margin: auto;
width: 300px;
height: 200px;
background-color: red;
margin-left: 1px;
border-radius: 0px 0px 300px 300px;
}
#blue3{position: relative;
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: blue;
    margin-right: 1px;
    border-radius: 300px 300px 0px 0px;
    top: 100px;}