header {
    background-color: rgb(234, 187, 130);
    height: 100px;
    width: 598px;
    border: solid blue 2px;
}

article {
    height: 504px;
    width: 400px;
    border: solid blue 2px;
    background-color: aqua;
    float: left;
}

#mek {
    width: 195px;
    height: 200px;
    background-color: yellow;
    border: solid blue 2px;
    float: left;
    display: block;
}

#erku {
    width: 198px;
    height: 304px;
    background-color: rgba(74, 74, 235, 0.919);
    border: solid blue 2px;
    display: block;
    margin-left: 400px;
    margin-top: 200px;

}


footer {
    height: 50px;
    width: 598px;
    border: solid blue 2px;
    background-color: rgba(74, 74, 235, 0.919);
    text-align: end;
}